.DS_Store
__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.log
*.aux
*.out
*.toc
*.nav
*.snm
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.xdv
*.bbl
*.blg
*.pdf
*.png
*.jpg
*.jpeg
*.zip

00archive/
Outputs/
data_work/raw_data/
data_work/outputs/
Documents/archive/
Documents/generated/
Documents/figs/
Documents/todo_outputs/
